body{
    font-family: Roboto;
}
.container{
    padding-top: .5rem;
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: yellowgreen;
    border-radius: 0.3rem;
}

.container p{
    background-color: antiquewhite;
}